<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); -%>
  </head>
  <body>
    <%- include('nav'); -%>
    <div class="guestbook">
      <h3 style="text-align-last: center;"><%= name %></h3>
      <p>Age: <%= familyMember.age %></p>
      <p>Gender: <%= familyMember.gender %></p>
      <p>Occupation: <%= familyMember.occupation %></p>
    </div>

    <a href="/family"
      ><button
        style="background: gray; border-color: white; ; position: relative; bottom: 80px; width: 120px;  margin: 0; color: white; font-size: 14px;"
      >
        Previous Page
      </button></a
    >
    <%- include('footer'); -%>
  </body>
</html>
