<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); -%>
  </head>
  <body>
    <%- include('nav'); -%>
    <div class="guestbook">
      <h3 style="text-align-last: center;">People and Comments:</h3>
      <table>
        <tr>
          <th>Name:</th>
          <th>Email:</th>
          <th>Comment:</th>
          <th>Time:</th>
        </tr>
        <% q_result.forEach(function(item, index){%>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.email %></td>
          <td><%= item.comment %></td>
          <td><%= item.time %></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
